<launch>
<arg name="record_bag" default="false" />

<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />

<node pkg="turtlebot_roomba" name="turtlebot_roomba_node" type="turtlebot_roomba_node" />

<node pkg="rosbag" name="record_rosbag" type="record" 
args="record -o $(find turtlebot_roomba)/results/rosbag_topics_record.bag -a -x '(.*)/camera(.*)' --duration=30" if="$(arg record_bag)" />


</launch>